langchain
langchain-core
langchain-openai
langchain-google-genai
langchain-community
openai
python-dotenv
langchain-huggingface
transformers
tokenizers
torch
sentence-transformers
scikit-learn
streamlit
pydantic 
grandalf
pypdf2
